<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style>
			.mui-table-view-cell>a:not(.mui-btn) {
				position: relative;
				display: block;
				overflow: hidden;
				margin: -11px -15px;
				padding: inherit;
				white-space: normal;
				text-overflow: ellipsis;
				color: inherit;
			}
			
			.pClass {
				font-size: 13px;
				color: blue;
			}
			.lineCell {
				height: 10px;
				width: 100%;
				background: #f2f2f2;
			}
			.liTitle{
				font-size: 15px;
				color: #333;
			}
			.liDetail{
				font-size: 14px;
				color: #666;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color:#63BBFF;" id="talkReacordHead">
			<a @tap="muiback" class="mui-icon mui-icon-left-nav mui-pull-left mui-action-back" style="color: white;"></a>
			<h1 class="mui-title" style="color: white;">行为详情</h1>
			<a class="mui-pull-right" style="color: white;font-size: 14px;margin-top: 11px;">修改</a>
		</header>
		<div class="mui-content" id="actionDetialData">
			<ul class="mui-table-view" v-if="dataFlag == 1">
				<li class="mui-table-view-cell">
					<a>
						<p class="mui-pull-right liDetail">{{actionDetail.gradeName}}</p>
						<div class="mui-media-body liTitle">
							年级
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a>
						<p class="mui-pull-right liDetail">{{actionDetail.className}}</p>
						<div class="mui-media-body liTitle">
							班级
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a>
						<p class="mui-pull-right liDetail">{{actionDetail.studentName}}</p>
						<div class="mui-media-body liTitle">
							姓名
						</div>
					</a>
				</li>
				<p class="lineCell"></p>
				<li class="mui-table-view-cell" style="margin-top: -10px;">
					<a>
						<p class="mui-pull-right liDetail">{{actionDetail.behaviorName}}</p>
						<div class="mui-media-body liTitle">
							行为细项
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a>
						<div class="mui-media-body liTitle">
							行为说明
						</div>
						<textarea id="notes" style="width: 98%;font-size: 15px;" disabled>{{actionDetail.detail}}</textarea>
					</a>
					<div v-if="actionDetail.attachs.length>0">
						<div style="float:left;font-size: 15px;color: black;margin-right: 5px;" >附件:</div>
						<div style="float:left;">
							<p class="pClass" v-for="(attach,index) in actionDetail.attachs"><a @click="checkEnc(index)">{{attach.attachName}}</a></p>
						</div>
					</div>
				</li>
				<li class="mui-table-view-cell">
					<a>
						<p class="mui-pull-right liDetail">{{actionDetail.behaviorTime}}</p>
						<div class="mui-media-body liTitle">
							发生日期
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a>
						<p class="mui-pull-right liDetail">{{actionDetail.period}}</p>
						<div class="mui-media-body liTitle">
							节次
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a>
						<p class="mui-pull-right liDetail">{{actionDetail.subCode}}</p>
						<div class="mui-media-body liTitle">
							科目
						</div>
					</a>
				</li>
				<p class="lineCell"></p>
				<li class="mui-table-view-cell" style="margin-top: -10px;">
					<a>
						<p class="mui-pull-right liDetail">{{actionDetail.recorder}}</p>
						<div class="mui-media-body liTitle">
							记录人
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a>
						<p class="mui-pull-right liDetail">{{actionDetail.recordTime}}</p>
						<div class="mui-media-body liTitle">
							记录时间
						</div>
					</a>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.js"></script>
		<script src="../../js/vue.min.js"></script>
		<script src='../../js/lib/vconsole/vconsole.min.js'></script>
		<script src="../../js/utils/store.js"></script>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/lib/jquery.js"></script>
		<script src="../../js/studentManage/studentManagePermission.js"></script>
		<script src="../../js/publicProtocol.js"></script>
		<script type="text/javascript">
			mui.init();
			var actionDetialData = new Vue({
				el: "#actionDetialData",
				data: {
					dataFlag: 0,
					gradeText:'请选择',
					classesText:'请选择',
					studentText:'请选择',
					gradeValue:'',
					classesValue:'',
					studentValue:'',
					actionDetail: {},
					curPage:{},
					actionList:[],
					jcList:[],
					kmList:[{"text":"语文","value":"1"},{"text":"数学","value":"2"},{"text":"物理","value":"3"}],
					content:'',
					time:getDate(),
					actionText:'请选择',
					actionValue:'',
					jcText:'请选择',
					jcValue:'',
					kmText:'请选择',
					kmValue:''
				},
				methods: {
					clickPop: function(model) {
						console.log('clickPop:' + JSON.stringify(model));
						mui('#topPopover').popover('hide');
					},checkEnc: function( index) {
						var tempUrl = this.actionDetail.attachs[index].url;
						plus.runtime.openURL(tempUrl);
					}
				}
			});
			var curPage = {};
			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				console.log('2222:' + JSON.stringify(curPage));
				studentMP.getStudentManagePermission(2,1,function(array){
					console.log("ABCD=="+JSON.stringify(array))
					actionDetialData.list=array;
					if(array.length>0){
						var allGrade=array[0];
						var allClasses=allGrade.children[0];
						actionDetialData.gradeValue=allGrade.value;
						actionDetialData.classesValue=allClasses.value;
						getActionDetailP();
					}
				});
				
			});
			var getActionDetailP = function() {
				var tempData = {
					id: curPage.id
				} 
				getActionDetail(tempData, function funcName(data) {
					console.log('data:' + JSON.stringify(data));
					if(data.RspCode == 0) {
						var sb=data.RspData.sb;
						console.log("查询学生对应的名称")
						for(var a = 0; a < actionDetialData.list.length; a++) {
							var tempGrdClsMsg = actionDetialData.list[a];
							if(tempGrdClsMsg.id=sb.gradeId){
								sb.gradeName=tempGrdClsMsg.text
							}
							for(var b = 0; b < tempGrdClsMsg.children.length; b++) {
								var tempClass = tempGrdClsMsg.children[b];
								if(tempClass.id=sb.classId){
									sb.className=tempClass.text
								}
							}
						}
						actionDetialData.actionDetail = sb;
						actionDetialData.curPage = curPage;
						actionDetialData.dataFlag = 1;
						console.log(JSON.stringify(actionDetialData.actionDetail))
					} else {
						mui.toast(data.RspTxt);
					}
				});
			}
			//获取当前日期
			function getDate() {
			    var date = new Date();
			    var seperator1 = "-";
			    var seperator2 = ":";
			    var month = date.getMonth() + 1;
			    var strDate = date.getDate();
			    if (month >= 1 && month <= 9) {
			        month = "0" + month;
			    }
			    if (strDate >= 0 && strDate <= 9) {
			        strDate = "0" + strDate;
			    }
			    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
//			            + " " + date.getHours() + seperator2 + date.getMinutes()
//			            + seperator2 + date.getSeconds();
			    return currentdate;
			}
		</script>
	</body>

</html>