<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新消息</title>
		<meta name="anthor" content="an" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/weui.min.css">
		<link rel="stylesheet" href="../../css/jquery-weui.css">
		<link rel="stylesheet" href="../../css/demos.css">
		<link rel="stylesheet" href="../../css/weui-extra.min.css" />
		<link rel="stylesheet" href="../../css/utils/common.css" />
		<link rel="stylesheet" href="../../fonts/iconfont1.css" />
		<link rel="stylesheet" href="../../css/utils/MultiMedia.css" />
		<link rel="stylesheet" href="../../css/utils/preview.css" />
		<link rel="stylesheet" href="../../css/utils/audiopopover.css" />
		<style rel="stylesheet">
			.weui-cell:before {
				content: " ";
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				height: 1px;
				border-top: 0px solid #e5e5e5;
				color: #e5e5e5;
				-webkit-transform-origin: 0 0;
				transform-origin: 0 0;
				-webkit-transform: scaleY(.5);
				transform: scaleY(.5);
				left: 15px;
				z-index: 2
			}
			
			.mui-title {
				color: white;
			}
			
			.mui-bar-nav {
				background-color: #3C9BFE;
			}
			
			.mui-icon {
				color: white;
			}
			/*.mui-bar .mui-icon {
				font-size: 15px;
				padding-top: 15px;
			}*/
			
			.weui-cell__hd {
				padding-right: 15px;
			}
			
			.weui-btn_blue {
				position: relative;
				background-color: #3C9BFE;
				color: white;
				width: 90%;
				margin-top: 16px;
				/*margin-left: 10px;
				margin-right: 10px;*/
			}
			
			.weui-btn_blue:hover {
				background-color: #0062CC;
				color: white;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color:#63BBFF;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">新建通知</h1>
		</header>
		<div id="message" class="mui-content">
			<template v-if="dataFlag>0">
			<div class="weui-cells" style="margin-top: 0px;">
				<div class="weui-cell">
					<div class="weui-cell__hd">标题</div>
					<div class="weui-cell__bd">
						<input v-model="title" maxlength="50" style="border: 1px solid gainsboro;margin-bottom: 0px;" type="text" class="weui-input" placeholder="请输入标题" />
					</div>
				</div>
				<div class="weui-cell" style="align-items: flex-start;">
					<div class="weui-cell__hd">内容</div>
					<div class="weui-cell__bd">
						<textarea v-model="content" maxlength="300" class="weui-textarea" style="border: 1px solid gainsboro;margin-bottom: 0;" placeholder="请输入内容" rows="4"></textarea>
					</div>
				</div>
			</div>
			</template>
			<div id="MultiMedia">
				<div class="mui-input-row mui-checkbox mui-left" id="senMSN" style="float: right;margin-top: 3px;display: none;">
					<label style="font-size: 14px;color: #333333;">发送短信</label>
					<input v-model="smsSync" name="checkbox1" type="checkbox">
				</div>
			</div>
			<template v-if="dataFlag>0">
			<div class="weui-cells" style="margin-top: 0px;">
				<div @click="selectPepole()" class="weui-cell weui-cell_access">
					<div class="weui-cell__bd">
						接收人
					</div>
					<div class="weui-cell__ft">
						{{peopleNum}}
					</div>
				</div>
			</div>
			<div style="margin: 10px;color: gray;">
				{{'已选('+selectPeople.length+'人）:'}} {{showSelectPeople}}
			</div>
			<a id="sengMsg" @click.stop="clickSubmitBtn()" class="weui-btn weui-btn_blue" style="height: 45px;padding-top: 0px;">发布</a>
			</template>
		</div>
		<div id="videoPopover" class="mui-popover">
			<video id="video" style="position: absolute;z-index: 999;" controls="controls" webkit-playsinline playsinline>
				您的浏览器不支持 video 标签。
			</video>
		</div>
		<div id="audioPopover" class="mui-popover">
			<div id="audio_show" class="audio-show-popover">
				<span id="audio_icon" class="mui-icon mui-icon-mic audio-icon"></span>
				<canvas id="audio_canvas" class="audio-canvas"></canvas>
				<span id="audio_close" class="mui-icon iconfont icon-guanbi"></span>
				<div id="audio_time" class="audio-time">00:00</div>
				<div id="audio_control" class="audio-control">
					<div id="audio_play" class="audio-control-background audio-control-play">
						<div></div>
					</div>
					<div id="audio_pause" class="audio-control-background audio-control-pause">
						<div></div>
						<div></div>
					</div>
				</div>
				<audio id="audio_audio" autoplay="autoplay" preload="auto"></audio>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/weui.min.js"></script>
		<script src="../../js/demoCssJs/jquery-2.1.4.js"></script>
		<script src="../../js/vue.min.js"></script>
		<script src='../../js/lib/vconsole/vconsole.min.js'></script>
		<script src="../../js/demoCssJs/jquery-weui.js"></script>
		<!--视频、照片控件用-->
		<script type="text/javascript" src="../../js/utils/events.js"></script>
		<script type="text/javascript" src="../../js/utils/MultiMedia.js"></script>
		<script type="text/javascript" src="../../js/cloud/AndroidFileSystem.js"></script>
		<script type="text/javascript" src="../../js/lib/qiniu/qiniu.js"></script>
		<script type="text/javascript" src="../../js/utils/cryption.js"></script>
		<script type="text/javascript" src="../../js/utils/CloudFileUtil.js"></script>
		<script type="text/javascript" src="../../js/utils/storageKeyName.js"></script>
		<script type="text/javascript" src="../../js/mui.zoom.js"></script>
		<script type="text/javascript" src="../../js/mui.previewimage.js"></script>
		<script type="text/javascript" src="../../js/utils/compress.js"></script>
		<script type="text/javascript" src="../../js/utils/recordvideoutil.js"></script>
		<script type="text/javascript" src="../../js/utils/playutil.js"></script>
		<script type="text/javascript" src="../../js/utils/showvideoutil.js"></script>
		<script type="text/javascript" src="../../js/utils/showaudio.js"></script>
		<script type="text/javascript" src="../../js/utils/gallerypick.js"></script>

		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/cloudutil.js"></script>
		<script src='../../js/utils/store.js'></script>
		<script src="../../js/publicProtocol.js"></script>
		<script src='../../js/lib/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>

		<script type="text/javascript">
			var message = new Vue({
				el: '#message',
				data: {
					dataFlag: 0, //是否加载完
					showSelectPeople: '',
					title: '',
					content: '',
					smsSync: false,
					displayGallery: {
						display: 'none'
					},
					displayAddBtn: {
						display: 'block'
					},
					selectIndex: 0,
					selectImgPath: '',
					uploadedFiles: [],
					selectPeople: []
				},
				computed: {
					// 计算属性的 getter
					peopleNum: function() {
						// `this` 指向 vm 实例
						return this.selectPeople.length > 0 ? this.selectPeople.length + '人' : '点击选择接收人'
					}
				},
				methods: {
					clickSubmitBtn: function() {
						if(sendFlag == 0) {
							sendFlag = 1;
							if(message.title.trim().length == 0 || message.content.trim().length == 0) {
								mui.toast("请填写具体内容后再发布", "cancel");
								sendFlag = 0;
								return;
							}
							if(message.title.length > 50) {
								mui.toast("标题不能超过50字", "cancel");
								sendFlag = 0;
								return;
							}
							if(message.content.length > 300) {
								mui.toast("内容不能超过300字", "cancel");
								sendFlag = 0;
								return;
							}

							//判断输入是否符合要求
							if(checkInput(message.title)) {
								if(checkInput(message.content)) {
									var personal = store.get(window.storageKeyName.PERSONALINFO);
									var selectPeople_arr = message.selectPeople;
									var ids = [];
									var codes = [];
									var names = [];
									var pics = [];
									for(var i = 0; i < selectPeople_arr.length; i++) {
										var model = selectPeople_arr[i];
										ids.push(model.utid)
										codes.push('""');
										names.push('"' + model.utname + '"');
										//							pics.push('"' + model.imgurl + '"');
										if(model.imgurl == null) {
											pics.push('""');
											pics.push('"' + model.imgurl + '"');
										}
									}
									if(ids.length == 0) {
										mui.toast("请选择接收人", "cancel");
										sendFlag = 0;
										return;
									}
									sendFlag = 1;
									var wd = events.showWaiting();
									if(multiMedia.data.PictureArray.length == 0 && multiMedia.data.VideoArray.length == 0 && multiMedia.data.AudioArray.length == 0) { //没有传附件
										addNotice(wd, '3', '', '', 0,'');
									} else {
										uploadFile(wd); //上传文件
									}
								}
							}
						}
					},
					selectPepole: function() {
						var data = {
							flag: 1, //1 通知公告
							selectPeople: message.selectPeople
						}
						console.log(JSON.stringify(data));
						utils.mOpenWithData("selectPeople.html", data)
					}
				}
			})
			var pathList = []; //记录需要删掉的图片和缩略图
			var encNameList = []; //附件名称
			var QNUptoken; //token数据
			var uploadNum = 0; //记录上传的次数
			var hideOption; //隐藏键盘的数据
			var multiMedia; //多媒体控件
			var sendFlag = 0; //0是未按确定按钮，1按确定按钮，防止多次触发
			mui.plusReady(function() {
				init(); //初始化控件
				message.dataFlag = 1;
			});

			/*
			 * 初始化控件
			 */
			function init() {
				events.blurBack();

				//图片查看控件
				mui.previewImage();

				//多媒体控件
				multiMedia = MultiMedia.multiMedia({
					MultiMediaId: 'MultiMedia', //存放多媒体对象控件的id
					Key: store.get(window.storageKeyName.PERSONALINFO).utid, //utid
					Picture: true, //是否显示图片图标
					Audio: false, //是否显示音频图标
					Video: false, //是否显示视频图标
					TotalPicture: 9, //图片的个数
					TotalAudio: 1, //音频的个数
					TotalVideo: 1, //视频的个数
				});
				//显示发送短信按钮
				document.getElementById('senMSN').style.display = 'inherit';
				//设置底部卡片上边距-15px→10px;
				//				document.getElementById("bootom-card").style.marginTop = "10px";
				/**
				 * 播放视频
				 * @param {Object} data
				 */
				multiMedia.videoPlayCallBack = function(data) {
					//console.log("videoPlayCallBack")
					ShowVideoUtil.showVideo(document.getElementById("video"), 'videoPopover', data.path, data.localthumb);
				}

				/**
				 * 播放音频
				 * @param {Object} data
				 */
				multiMedia.audioPlayCallBack = function(data) {
					//console.log('audioPlayCallBack ' + JSON.stringify(data));
					ShowAudioUtil.initAudio(data, 1);
				}

				//初始化视频播放器
				ShowVideoUtil.initVideo(document.getElementById("video"));
				//初始化音频播放器
				audio_option = {
					x: localStorage.getItem('resolutionWidth') * 1.4, //圆心的x轴坐标值
					y: (plus.screen.resolutionHeight / 3 * 2), //圆心的y轴坐标值
					r: plus.screen.resolutionHeight * 0.25 * 1.5 //圆的半径
				};
				ShowAudioUtil.initAudioPopover({
					show: document.getElementById("audio_show"),
					icon: document.getElementById("audio_icon"),
					canvas: document.getElementById("audio_canvas"),
					play: document.getElementById("audio_play"),
					pause: document.getElementById("audio_pause"),
					time: document.getElementById("audio_time"),
					audio: document.getElementById("audio_audio")
				});
				//获取配置信息
				hideOption = events.initHideKeyBoard();
			}

			var addNotice = function(wd, encType, encAddr, encImg, encLen,encName) {
//				console.log('encType:' + encType);
//				console.log('encAddr:' + encAddr);
//				console.log('encImg:' + encImg);
//				console.log('encLen:' + encLen);
				var smsSync = message.smsSync == true ? 1 : 0

				var personal = store.get(window.storageKeyName.PERSONALINFO);
				var selectPeople_arr = message.selectPeople;
				var ids = [];
				var codes = [];
				var names = [];
				var pics = [];
				for(var i = 0; i < selectPeople_arr.length; i++) {
					var model = selectPeople_arr[i];
					ids.push(model.utid)
					codes.push('""');
					names.push('"' + model.utname + '"');
					//							pics.push('"' + model.imgurl + '"');
					if(model.imgurl == null) {
						pics.push('""');
					} else {
						pics.push('"' + model.imgurl + '"');
					}
				}
				if(ids.length == 0) {
					mui.toast("请选择接收人", "cancel");
					sendFlag = 0;
					return;
				}
				events.showWaiting();
				var tempData = {
					schoolId: storageKeyName.SCHOOLID, //学校ID
					noticeTitle: message.title, //标题
					noticeContent: message.content, //内容
					noticEncName: encName, //附件名称
					noticeEncAddr: encAddr, //附件地址
					smsSync: smsSync, //是否短信同步
					sendManId: personal.utid, //发布人ID
					sendManCode: personal.uid, //发布人账号
					sendManName: personal.utname, //发布人姓名
					sendManPic: personal.imgurl, //发布人头像
					receiveManIds: arrayToStr(ids), //接收人人ID
					receiveManCodes: arrayToStr(codes), //接收人账号
					receiveManPics: arrayToStr(pics), //接收人头像
					receiveManNames: arrayToStr(names) //接收人姓名
				}
				addNoticePro(tempData, function function_name(data) {
					events.closeWaiting();
					console.log(JSON.stringify(data))
					if(data.RspCode == 0) {

						mui.toast("发布成功")
						mui.back();
					} else {
						mui.toast(data.RspTxt)
						sendFlag = 0;
					}
				});
			}
			window.addEventListener('selectPeople', function(data) {
				console.log("data" + JSON.stringify(data.detail.peopleArray))
				message.selectPeople = data.detail.peopleArray;
				var tempPeople = [];
				for(var i = 0; i < message.selectPeople.length; i++) {
					var tempModel = message.selectPeople[i];
					tempPeople.push(tempModel.utname);
				}
				message.showSelectPeople = tempPeople.join(',');
			});
			//判断是否输入了值
			var checkInput = function(text) {
				if(text.trim().length == 0) {
					mui.toast('请输入标题或内容');
					sendFlag = 0;
					return false;
				}
				if(isNull(text)) {
					mui.toast('请输入标题或内容');
					sendFlag = 0;
					return false;
				}
				return true;
			}

			//判断输入字符串是否为空或者全部都是空格
			function isNull(str) {
				if(str == "") return true;
				var regu = "^[ ]+$";
				var re = new RegExp(regu);
				return re.test(str);
			}

			/**
			 * 上传文件
			 */
			function uploadFile(wd) {
				var getUpTokenData = {
					type: '0', //获取上传token的方式
					appId: 8, //项目id
					fileArray: [], //文件数组
					mainSpace: window.storageKeyName.QNPUBSPACE, //文件存放在私有空间或公有空间
					uploadSpace: window.storageKeyName.XXTNOTICE, //上传的空间
				}

				if(multiMedia.data.PictureArray.length != 0) { //图片
					for(var i = 0; i < multiMedia.data.PictureArray.length; i++) {
						getUpTokenData.fileArray.push(multiMedia.data.PictureArray[i].path);
					}
				} else if(multiMedia.data.VideoArray.length != 0) { //视频
					getUpTokenData.type = '2';
					for(var i = 0; i < multiMedia.data.VideoArray.length; i++) {
						getUpTokenData.fileArray.push(multiMedia.data.VideoArray[i].path);
					}
				} else if(multiMedia.data.AudioArray.length != 0) { //音频
					getUpTokenData.type = '3';
					for(var i = 0; i < multiMedia.data.AudioArray.length; i++) {
						getUpTokenData.fileArray.push(multiMedia.data.AudioArray[i].fpath);
					}
				}
				uploadNum = getUpTokenData.fileArray.length; //记录上传的次数
//				console.log('uploadNum:' + uploadNum);
//				console.log('getUpTokenData:' + JSON.stringify(getUpTokenData));
				CloudFileUtil.getUpLoadTokens(getUpTokenData, function(data) {
//					console.log("getUpLoadTokens111111 " + JSON.stringify(data));
					if(data.code == 1) {
//						console.log('上传配置 ' + JSON.stringify(data.configure));
//						console.log('上传凭证 ' + JSON.stringify(data.data));
						QNUptoken = data.data; //token数据

						if(multiMedia.data.PictureArray.length != 0) { //图片
							//记录图片和缩略图地址
							for(var j = 0; j < multiMedia.data.PictureArray.length; j++) {
								for(var i = 0; i < QNUptoken.Data.length; i++) {
									console.log(JSON.stringify(QNUptoken.Data[i]));
									var filePath = QNUptoken.Data[i].P_Key.split("/");
									var fileName = filePath[filePath.length - 1];
									var fileId = fileName.split("_")[0];
									if(multiMedia.data.PictureArray[j].id == fileId) {
//										console.log('QNUptoken.Data[i].Domain:' + QNUptoken.Data[i].Domain);
//										console.log('+QNUptoken.Data[i].Key:' + QNUptoken.Data[i].Key);
										multiMedia.data.PictureArray[j].domain = QNUptoken.Data[i].Domain + QNUptoken.Data[i].Key;
										multiMedia.data.PictureArray[j].domain = window.storageKeyName.QNPB + QNUptoken.Data[i].Key;
									}
								}
							}
						} else if(multiMedia.data.VideoArray.length != 0) { //视频
							//记录视频和缩略图地址
							for(var j = 0; j < multiMedia.data.VideoArray.length; j++) {
								var videoPath = multiMedia.data.VideoArray[j].path.split("/");
								var videoName = videoPath[videoPath.length - 1];
								for(var i = 0; i < QNUptoken.Data.length; i++) {
									////console.log(JSON.stringify(QNUptoken.Data[i]));
									var filePath = QNUptoken.Data[i].P_Key.split("/");
									var fileName = filePath[filePath.length - 1];
									if(videoName == fileName) {
										//										multiMedia.data.VideoArray[j].domain = QNUptoken.Data[i].Domain + QNUptoken.Data[i].Key;
										multiMedia.data.VideoArray[j].domain = window.storageKeyName.QNPB + QNUptoken.Data[i].Key;
										multiMedia.data.VideoArray[j].thumb = QNUptoken.Data[i].OtherKey[data.configure.thumbKey[i]];
									}
								}
							}
						} else if(multiMedia.data.AudioArray.length != 0) {
							//记录音频文件地址
							for(var j = 0; j < multiMedia.data.AudioArray.length; j++) {
								var audioPath = multiMedia.data.AudioArray[j].fpath.split("/");
								var audioName = audioPath[audioPath.length - 1];
								for(var i = 0; i < QNUptoken.Data.length; i++) {
									////console.log(JSON.stringify(QNUptoken.Data[i]));
									var filePath = QNUptoken.Data[i].P_Key.split("/");
									var fileName = filePath[filePath.length - 1];
									if(audioName == fileName) {
										multiMedia.data.AudioArray[j].domain = QNUptoken.Data[i].Domain + QNUptoken.Data[i].Key;
										multiMedia.data.AudioArray[j].thumb = QNUptoken.Data[i].OtherKey[data.configure.thumbKey[i]];
									}
								}
							}
						}
						wd.setTitle('上传中...');
						//开始执行上传任务
						taskCreate(wd);
					} else {
						//						console.log('### ERROR ### 获取上传凭证失败 ### ');
						document.getElementById("finish").disabled = false;
						wd.close();
						mui.toast('上传失败 ' + data.message);
					}
				});
			}

			/**
			 * 删除上传失败的文件
			 */
			function BatchDelete(paths, wd) {
				var batchDelete = {
					appId: 8, //int 必填 项目id
					urls: paths //array 必填 需要获取下载token文件的路径
				}
				/**
				 * 七牛批量删除
				 */
				CloudFileUtil.BatchDelete(window.storageKeyName.QNGETTOKENDELETE, batchDelete, function(data) {
						//console.log('七牛删除 ' + JSON.stringify(data));
						if(data.Status == 1) {
							pathList = [];
						} else {
							//console.log('### ERROR ### 七牛删除失败 ### ' + JSON.stringify(data));
						}
						wd.close();
					},
					function(xhr, type, errorThrown) {
						//console.log('### ERROR ### 请求七牛删除失败 ### ' + JSON.stringify(type));
						wd.close();
					}
				);
			}

			/**
			 * 创建上传任务并且逐个任务执行
			 */
			function taskCreate(wd) {
				for(var i = 0; i < QNUptoken.Data.length; i++) {
					if(QNUptoken.Data[i].task == undefined) {
						var filePath = QNUptoken.Data[i].P_Key.split("/");
						var fileName = filePath[filePath.length - 1];
						//获取路径
						var fPath = '';
						var num; //记录第几个文件
						if(multiMedia.data.PictureArray.length !== 0) { //图片
							for(var k = 0; k < multiMedia.data.PictureArray.length; k++) {
								var path = multiMedia.data.PictureArray[k].path.split("/");
								var name = path[path.length - 1];
								if(fileName == name) {
									num = k;
									fPath = multiMedia.data.PictureArray[k].path;
									break;
								}
							}
						} else if(multiMedia.data.VideoArray.length !== 0) { //视频
							for(var k = 0; k < multiMedia.data.VideoArray.length; k++) {
								var path = multiMedia.data.VideoArray[k].path.split("/");
								var name = path[path.length - 1];
								if(fileName == name) {
									num = k;
									fPath = multiMedia.data.VideoArray[k].path;
									break;
								}
							}
						} else if(multiMedia.data.AudioArray.length !== 0) { //音频
							for(var k = 0; k < multiMedia.data.AudioArray.length; k++) {
								var path = multiMedia.data.AudioArray[k].fpath.split("/");
								var name = path[path.length - 1];
								if(fileName == name) {
									num = k;
									fPath = multiMedia.data.AudioArray[k].fpath;
									break;
								}
							}
						}
						CloudFileUtil.upload(fPath, QNUptoken.Data[i].Token, QNUptoken.Data[i].Key, function(upload, status) {
							//上传任务完成的监听
//														console.log('上传任务完成' + status + '|' + JSON.stringify(upload));
							if(status == 200) {
								
								//console.log('上传成功');
								QNUptoken.Data[i].task = true;
								//QNUptoken.Data[i].persistentId = JSON.parse(upload.responseText).persistentId;
								uploadNum--;
								var title = '上传 ' + (QNUptoken.Data.length - uploadNum) + "/" + (QNUptoken.Data.length);
								wd.setTitle(title);
								//记录失败后需要删除的文件
								if(multiMedia.data.PictureArray.length !== 0) { //图片
									pathList.push(multiMedia.data.PictureArray[num].domain);
									var path = multiMedia.data.PictureArray[num].path.split("/");
											var name = path[path.length - 1];
											name = name + '(' + cloudutil.transformSize(upload.totalSize) + ')';
											encNameList.push(name);
								} else if(multiMedia.data.VideoArray.length !== 0) { //视频
									pathList.push(multiMedia.data.VideoArray[num].domain);
									pathList.push(multiMedia.data.VideoArray[num].thumb);
								} else if(multiMedia.data.AudioArray.length !== 0) { //音频
									pathList.push(multiMedia.data.AudioArray[num].domain);
									pathList.push(multiMedia.data.AudioArray[num].thumb);
								}

								if(uploadNum == 0) {
									//console.log('所有上传都成功');
									var encAddr = []; //附件地址
									var encImg = []; //附件缩略图地址
									var encLen = 0; //音视频时长
									var type;
									if(multiMedia.data.PictureArray.length !== 0) { //图片
										for(var j = 0; j < multiMedia.data.PictureArray.length; j++) {
											encAddr.push(multiMedia.data.PictureArray[j].domain);
//											console.log('multiMedia.data.PictureArray:'+ JSON.stringify(multiMedia.data.PictureArray[j]));
											
										}
										type = '1';
									} else if(multiMedia.data.VideoArray.length !== 0) { //视频
										for(var j = 0; j < multiMedia.data.VideoArray.length; j++) {
											encAddr.push(multiMedia.data.VideoArray[j].domain);
											encImg.push(multiMedia.data.VideoArray[j].thumb);
										}
										type = '2';
										encLen = multiMedia.data.VideoArray[0].duration;
									} else if(multiMedia.data.AudioArray.length !== 0) { //音频
										for(var j = 0; j < multiMedia.data.AudioArray.length; j++) {
											encAddr.push(multiMedia.data.AudioArray[j].domain);
											encImg.push(multiMedia.data.AudioArray[j].thumb);
										}
										type = '4';
										encLen = multiMedia.data.AudioArray[0].time;
									}
									var encAddrStr = encAddr.join('|');
									var encImgrStr = encImg.join('|');
									var encNameStr = encNameList.join('|');
									addNotice(wd, type, encAddrStr, encImgrStr, encLen,encNameStr);
								} else {
									taskCreate(wd);
								}
							} else {
								//console.log('### ERROR ### 上传失败 ### ' + status + ' ' + JSON.stringify(upload));
								document.getElementById("finish").disabled = false;
								mui.toast('上传失败 ' + status + ' ' + upload.responseText);
								if(pathList.length != 0) {
									BatchDelete(pathList, wd);
								} else {
									wd.close();
								}
							}
						}, function(upload, status) {
							switch(upload.state) {
								case 0: //上传任务开始调度
									//console.log('上传任务开始调度:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 1: //上传任务开始请求
									//console.log('上传任务开始请求:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 2: //上传任务请求已经建立
									//console.log('上传任务请求已经建立:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 3: //上传任务提交数据
									////console.log('上传任务状态监听:|id:' + upload.__UUID__ + '|uploadedSize:' + upload.uploadedSize + '|totalSize:' + upload.totalSize + '|uploadState:' + upload.state);
									break;
								case 4: //上传任务已完成
									//console.log('上传任务已完成:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								case 5: //上传任务已暂停
									//console.log('上传任务已暂停:|id:' + upload.__UUID__ + '|uploadState:' + upload.state);
									break;
								default:
									//console.log('上传任务状态监听:其他状态' + upload.state);
									break;
							}
						}, function(task) {
							//上传任务创建成功的回调
							task.start();
						});

						//停止本次循环
						break;
					}
				}
			}
		</script>
	</body>

</html>