<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../js/demoCssJs/weui.min.css">
		<link rel="stylesheet" href="../../js/demoCssJs/jquery-weui.css">
		<link rel="stylesheet" href="../../js/demoCssJs/demos.css">
		<link rel="stylesheet" type="text/css" href="../../css/utils/bubble.css" />
		<style type="text/css">
			.contentCSS {
				margin-left: 15px;
				margin-right: 15px;
				font-size: 14px;
				color: #666;
			}
			
			.titleCSS {
				font-size: 18px;
				color: #000;
			}
			
			.name-timeCSS {
				font-size: 12px;
				color: #999;
			}
			
			.encName {
				margin-left: 15px;
				margin-right: 15px;
				font-size: 12px;
				color: #333;
			}
			
			.encTitle {
				font-size: 12px;
				color: #999;
			}
			
			.encSize {
				font-size: 12px;
				color: #3c9bfe;
			}
			
			.readPeople {
				font-size: 14px;
				color: #666;
			}
			
			.clickButton {
				margin-left: 5px;
				height: 18px;
				width: 40px;
				padding: 0 5px 5px 5px;
				font-size: 10px;
			}
			
			.display-inline {
				padding: 20px;
				display: inline-block;
			}
			
			.extral-file {
				padding-right: 10px;
			}
			
			.color_primary {
				color: #3c9bfe;
			}
			
			.prev-down {
				padding-left: 20px;
			}
			
			.prev-btn,
			.down-btn {
				margin-left: 20px;
			}
			
			.mui-btn-primary {
				border: 1px solid #3C9BFE;
				background-color: #3C9BFE;
			}
			
			.mui-btn-outlined.mui-btn-primary {
				color: #3C9BFE;
				background-color: transparent;
			}
			
			.mui-content {
				height: 100%;
				padding: 44px 0px 50px 0px;
				overflow: auto;
				background-color: #eaeaea;
			}
			
			div {
				word-break: break-all;
			}
			
			div p {
				word-break;
				: break-all;
			}
			
			.peopleImg {
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
		</style>
	</head>

	<body style="background-color: white;">
		<header class="mui-bar mui-bar-nav" style="background-color:#63BBFF;" id="tempVue">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
			<h1 class="mui-title" style="color: white;">通知详情</h1>
			<a v-if="flag==1&&status == 1" @click="revoke()" class="mui-pull-right" style="color: white;font-size: 14px;margin-top: 10px;">撤回</a>
		</header>
		<!--<nav class="mui-bar mui-bar-tab" id="noticeReplyContent">
			<div style="padding-top: 5px;">
				<input v-model="content" type="text" style="border: 0px;margin-bottom: 0px;margin-left: 5px;width: 70%;font-size: 12px;" placeholder="请输入要回复的内容" />
				<button v-on:click.stop="replyContent()" type="button" class="mui-btn-primary down-btn" style="width: 20%;margin-top: 5px;">确定</button>
			</div>
		</nav>-->
		<div class="mui-content" id="noticeDetailData" v-show="flag>0" style="background-color: white;">
			<template>
				<p align="center" class="titleCSS" style="font-size: 18px;color: #000;margin-top: 10px;">{{detailModel.NoticeTitle}}</p>
				<p align="center" class="name-timeCSS" style="font-size: 12px;color: #999;">{{detailModel.SendManName}} | {{detailModel.SendTime}}</p>
				<p class="contentCSS" style="font-size: 14px;color: #666;">{{detailModel.NoticeContent}}</p>
				<template v-for="(extraFile,index) in detailModel.NoticeEncName" v-show="detailModel.NoticeEncName.length==0">
					<p class="encName" v-show="extraFile">附件:
						<a class="" style="font-size: 12px;color: #3c9bfe;" v-on:click="checkEnc(0,index)">{{extraFile}}</a>
					</p>
				</template>
				<template v-if="curPage.flag == 0&&detailModel.Status<4&&detailModel.ReplyContent.length==0">
					<p class="" style="height: 10px;background-color: #f2f2f2;"></p>
					<a style="color: black;size: 15px;margin-left: 15px;">回复</a>
					<div style="padding-top: 5px;height: 170px;">
						<textarea maxlength="50" v-model="content" style="border: 1px solid gainsboro;margin-left: 10px;width: 95%;" placeholder="请输入要回复的内容" rows="4"></textarea>
						<button v-on:click.stop="replyContent()" type="button" class="mui-btn-primary down-btn" style="float: right;margin-right: 15px;margin-top: -10px;">确定</button>
					</div>
				</template>
				<p class="" style="height: 10px;background-color: #f2f2f2;"></p>
				<p class="titleCSS" style="font-size: 13px;color: #333;margin-top: 10px;margin-left: 10px;">接收列表(未读{{detailModel.NoReadCnt}}人/共{{detailModel.NoReadCnt+detailModel.ReadCnt}}人)</p>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell" v-for="(replyModel,index) in detailModel.Data">
						<div>
							<img class="mui-media-object mui-pull-left peopleImg" :src=setImg(replyModel.ReceiManPic)>
							<a class="" style="font-size: 13px;color: #666;">
								{{replyModel.ReceiveManName}} {{replyModel.ReadTime}}
								<div class="chat_content_left" v-if="replyModel.ReplyContent.length>0">
									<p style="color: #666;font-size: 12px; white-space:pre-wrap;">{{replyModel.ReplyContent}}</p>
								</div>
								<div class="" v-else-if="replyModel.IsRead==1">
									<p style="color: #666;font-size: 12px; white-space:pre-wrap;">【已读】</p>
								</div>
								</span>
							</a>
						</div>
					</li>
				</ul>
			</template>

		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.min.js"></script>
		<script src="../../js/publicProtocol.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/demoCssJs/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/demoCssJs/jquery-weui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/storageutil.js" type="text/javascript" charset="utf-8"></script>
		<!--加密-->
		<script src="../../js/lib/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>
		<!---->
		<script src='../../js/lib/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src='../../js/utils/sortSign.js'></script>
		<script src="../../js/utils/storageKeyName.js"></script>
		<script src="../../js/utils/store.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript">
			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var curPage = {};
			mui.plusReady(function() {
				//				var curPage = utils.getSessionStorageByUrlsKey();
				curPage = utils.getDataFromUrl(window.location.href);
				console.log('2222:' + JSON.stringify(curPage));
				//				var curPage = {
				//					"id": "17", //通知ID
				//					"flag": 0//1我发送的，0发给我的
				//				}
				//获取当前人员信息
				getDetailFunction();
			});

			var getDetailFunction = function() {
				if(curPage.flag == 0) { //0发给我的
					getNoticeByReceiveIdDetail();
				} else { //1我发送的
					getNoticeDetail();
				}
			}
			var tempVue = new Vue({
				el: "#tempVue",
				data: {
					id: 0,
					flag: curPage.flag, //0审核 1我发送的
					status: 0
				},
				methods: {
					revoke: function() {
						var btnArray = ['取消', '确定'];
						var closeId = this.id;
						mui.confirm('确定撤销吗？', '提醒', btnArray, function(e) {
							if(e.index == 1) {
								var tempData = {
									noticeId: tempVue.id
								}
								setNoticeUndoPro(tempData, function function_name(data) {
									if(data.RspCode == 0) {
										//获取当前人员信息
										getDetailFunction();
									}else{
										$.toast(data.RspTxt);
										tempVue.status = 0;
									}
								});
							}
						});

					}
				}
			});
			var noticeDetailData = new Vue({
				el: "#noticeDetailData",
				data: {
					flag: 0,
					detailModel: '',
					content: ''
				},
				methods: {
					checkEnc: function(tempFlag, index) {
						console.log('tempFlag:' + tempFlag);
						var tempUrl = noticeDetailData.detailModel.NoticeEncAddr[index];
						plus.runtime.openURL(tempUrl);
					},
					replyContent: function() {
						if(noticeDetailData.detailModel.ReplyContent.length > 0) {
							noticeDetailData.content = '';
							$.toast("不能重复回复", "cancel");
							return;
						}
						if(noticeDetailData.content.trim().length == 0) {
							$.toast("请输入回复内容", "cancel");
							return;
						}
						if(noticeDetailData.content.length > 50) {
							$.toast("回复内容不能超过50字", "cancel");
							return;
						}
						//28.回复通知公告
						var tempData1 = {
							noticeId: curPage.id, //通知ID
							receiveManId: personal.utid, //阅读人ID
							replyContent: noticeDetailData.content //回复内容
						}
						$.showLoading();
						//28.回复通知公告
						setNoticeReplyPro(tempData1, function function_name(data) {
							$.hideLoading();
							if(data.RspCode == 0) {
								noticeDetailData.content = '';
								$.toast('成功');
								getDetailFunction();
							} else {
								$.toast(data.RspTxt);
							}
						});
					}
				}
			});

			//12.通过通知公告ID获取通知公告(我发送的)
			var getNoticeDetail = function() {
				$.showLoading();
				//12.通过ID获取通知公告
				var tempData = {
					noticeId: curPage.id //通知ID
				}
				getNoticeByIdPro(tempData, function function_name(data) {
					$.hideLoading();
					console.log('data:' + JSON.stringify(data));
					if(data.RspCode == 0) {
						var localSkey = utils.getDataFromUrl(window.location.href);
						tempVue.id = localSkey.id;
						tempVue.flag = parseInt(localSkey.flag);
						tempVue.status = data.RspData.Status;
						if(data.RspData.NoticeEncName) {
							data.RspData.NoticeEncName = data.RspData.NoticeEncName.split("|");
							data.RspData.NoticeEncAddr = data.RspData.NoticeEncAddr.split("|");
						}
						noticeDetailData.flag = 1;
						noticeDetailData.detailModel = data.RspData;
						console.log('noticeDetailData.detailModel:' + JSON.stringify(noticeDetailData.detailModel));
						//判断是否阅读过，
						if(data.RspData.ReadStatus == 0) { //已读状态,1 已读,0 未读
							//9.修改阅读状态
							var tempData1 = {
								noticeId: curPage.id, //通知ID
								receiveManId: personal.utid //阅读人ID
							}
							//9.阅读通知公告
							setNoticeReadPro(tempData1, function function_name(data) {
								//触发前往页面的自定义事件,从而进行数据刷新
								mui.fire(plus.webview.currentWebview().opener(), 'updateNoRead00');
							});
						}
					} else {
						$.toast(data.RspTxt);
					}
				});
			}

			//25.通过通知接收表ID获取通知公告(我接收的)
			var getNoticeByReceiveIdDetail = function() {
				$.showLoading();
				var tempData = {
					noticeManId: curPage.NoticeManId //通知接收表ID
				}
				getNoticeByReceiveIdPro(tempData, function function_name(data) {
					$.hideLoading();
					console.log('data:' + JSON.stringify(data));
					if(data.RspCode == 0) {
						var localSkey = utils.getDataFromUrl(window.location.href);
						tempVue.id = localSkey.id;
						tempVue.flag = parseInt(localSkey.flag);
						tempVue.status = data.RspData.Status;
						if(data.RspData.NoticeEncName) {
							data.RspData.NoticeEncName = data.RspData.NoticeEncName.split("|");
							data.RspData.NoticeEncAddr = data.RspData.NoticeEncAddr.split("|");
						}
						noticeDetailData.flag = 1;
						noticeDetailData.detailModel = data.RspData;
						console.log('noticeDetailData.detailModel:' + JSON.stringify(noticeDetailData.detailModel));
						//判断是否阅读过，
						if(data.RspData.ReadStatus == 0) { //已读状态,1 已读,0 未读
							//9.修改阅读状态
							var tempData1 = {
								noticeId: curPage.id, //通知ID
								receiveManId: personal.utid //阅读人ID
							}
							//9.阅读通知公告
							setNoticeReadPro(tempData1, function function_name(data) {
								//触发前往页面的自定义事件,从而进行数据刷新
								mui.fire(plus.webview.currentWebview().opener(), 'updateNoRead00');
							});
						}
					} else {
						$.toast(data.RspTxt);
					}
				});
			}
		</script>
	</body>

</html>