<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../js/demoCssJs/weui.min.css">
		<link rel="stylesheet" href="../js/demoCssJs/jquery-weui.css">
		<link rel="stylesheet" href="../js/demoCssJs/demos.css">
		<style type="text/css">
			.tableView {
				padding-bottom: 65px;
			}
			
			.mui-bar-nav {
				background-color: #63BBFF;
			}
			
			.weui-btn_blue {
				background-color: #3C9BFE;
				color: white;
				margin-top: 7px;
				margin-left: 5%;
				margin-right: 5%;
				margin-bottom: 7px;
			}
			
			.weui-btn_blue:hover {
				background-color: #0062CC;
				color: white;
			}
		</style>
	</head>

	<body style="background-color: white;">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
			<h1 class="mui-title" style="color: white;">选择接收人</h1>
		</header>
		<div class="mui-content" id="selectPeopleData" v-show="flag>0" style="background-color: white;">
			<template>
				<ul class="mui-table-view tableView">
					<li class="mui-table-view-cell mui-collapse mui-checkbox mui-left" v-for='(department,index) in departmentArray' @tap="clickDepartment(department,index)" style="background-color: white;">
						<template v-if='department.dptname'>
							<input name="checkbox2" value="Item 2" type="checkbox" v-model="department.departFlag" @tap="clickDepartmentSelect1(department,index)">
							<a class="mui-navigate-right" style="padding-left: 17px;">{{department.dptname}}</a>
							<div class="mui-collapse-content">
								<form class="mui-input-group mui-table-view-chevron" v-for="(peopleModel,index) in department.peopleArray" @tap="clickPeople(peopleModel,index)">
									<div class="mui-input-row mui-checkbox" style="height: 50px;">
										<label>{{peopleModel.utname}}</label>
										<input name="checkbox1" value="Item 3" type="checkbox" v-model="peopleModel.flag">
									</div>
								</form>
							</div>
						</template>
						<template v-else>
							<input name="checkbox2" value="Item 2" type="checkbox" v-model="department.departFlag" @tap="clickDepartmentSelect1(department,index)">
							<a class="mui-navigate-right" style="padding-left: 17px;">{{department.clsname}}</a>
							<div class="mui-collapse-content">
								<form class="mui-input-group mui-table-view-chevron" v-for="(peopleModel,index) in department.peopleArray" @tap="clickPeople(peopleModel,index)">
									<div class="mui-input-row mui-checkbox" style="height: 50px;">
										<label>{{peopleModel.utname}}</label>
											<input name="checkbox1" value="Item 3" type="checkbox" v-model="peopleModel.flag">
									</div>
								</form>
							</div>
						</template>
					</li>
				</ul>
				<nav class="mui-bar mui-bar-tab">
					<a v-if="selectPeopleArray.length > 0" @click="clickSubmitBtn()" class="weui-btn weui-btn_blue">确定({{selectPeopleArray.length}}人)</a>
					<a v-else @click="clickSubmitBtn()" class="weui-btn weui-btn_blue">确定({{selectPeopleArray.length}}人)</a>
				</nav>
			</template>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<!--加密-->
		<script src="../js/lib/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/lib/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/lib/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>
		<!---->
		<script src='../js/lib/jquery.js'></script>
		<script src="../js/jquery-weui.min.js"></script>
		<script src='../js/lib/vconsole/vconsole.min.js'></script>
		<script src='../js/lib/crypto-js/require.js'></script>
		<script src='../js/utils/signHmacSHA1.js'></script>
		<script src="../js/publicProtocol.js"></script>
		<script src='../js/utils/sortSign.js'></script>
		<script src="../js/utils/storageKeyName.js"></script>
		<script src="../js/utils/store.js"></script>
		<script src="../js/utils/utils.js"></script>
		<script src="../js/utils/storageutil.js"></script>
		<script type="text/javascript">
			mui.init();
			var selectPeopleData = new Vue({
				el: "#selectPeopleData",
				data: {
					flag: 0,
					departmentArray: [],
					selectPeopleArray: [] //选择人员数组
				},
				methods: {
					clickDepartment: function(model, index) {
						if(clickFlag == 1) { //刚点过人员，不传事件
							clickFlag = 0; //点击部门0，点击人员1，防止事件乱传
						} else {
							clickFlag = 0; //点击部门0，点击人员1，防止事件乱传
							console.log('clickDepartment1111');
							//点击部门，包括点击是否选择部门
							clickDepartmentSelect(model, index, 0);
						}
					},
					clickPeople: function(model, index) {
						clickFlag = 1; //点击部门0，点击人员1，防止事件乱传
						console.log('model:' + JSON.stringify(model) + '，' + model.flag);
						//点击部门选择按钮时，遍历所有部门，改变人员的选择,flag=1点击选中部门，flag=2取消选中部门
						if(model.flag == false) { //如果是选择
							changePeoPleDepartmentSelect(model, index, 1);
						} else { //未选择
							changePeoPleDepartmentSelect(model, index, 2);
						}
						if(selectPeopleData.selectPeopleArray.length > 0) {
							//去重
							selectPeopleData.selectPeopleArray = selectPeopleData.selectPeopleArray.unique('utid');
						}
						//点击人员时，判断部门是否应该选中状态
						judgeDepartmentSelect();
					},
					clickSubmitBtn: function() {
						if(selectPeopleData.selectPeopleArray.length == 0) { //判断有没有勾选人
							$.toast('请选择人员', "cancel");
						} else {
							console.log(1111111)
							mui.fire(plus.webview.currentWebview().opener(), 'selectPeople', {
								peopleArray: selectPeopleData.selectPeopleArray
							});
							mui.back();
						}
					},
					clickDepartmentSelect1: function(model, index) { //点击是否选择部门按钮
						console.log('点击部门按钮');
						clickFlag = 1; //点击部门0，点击人员1，防止事件乱传
						//点击部门，包括点击是否选择部门,flag=1点击选中部门，flag=2取消选中部门
						if(model.departFlag == false) { //如果是选择
							clickDepartmentSelect(model, index, 1);
						} else { //未选择
							clickDepartmentSelect(model, index, 2);
						}
					}
				}
			});
			var curPage = utils.getDataFromUrl(window.location.href);
			var systemFlag = curPage.flag; //1 通知公告,2 事务及文件
			if(systemFlag == 1) { //如果是通知公告，加入数组
				selectPeopleData.selectPeopleArray = [].concat(curPage.selectPeople);
				console.log('curPage.selectPeople:' + JSON.stringify(curPage.selectPeople));
			}
			var PrivilegeStr = 0; //权限
			var requestFlag = 0; //记录发送权限请求的次数
			var clickFlag = 0; //点击部门0，点击人员1，防止事件乱传
			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var publicParameter = store.get(window.storageKeyName.PUBLICPARAMETER);
			$(function() {
				//根据个人信息，获取权限等
				getData();
			});

			//根据个人信息，获取权限等
			var getData = function() {
				var tempFlag = 0;
				//判断是否年级领导
				if(personal.grds.length > 0) {
					requestFlag++;
					tempFlag++;
					$.showLoading();
					//24.获取角色对应的菜单权限
					var tempData = {
						schoolId: personal.schid, //学校ID
						system: systemFlag, //1 通知公告,2 事务及文件
						roleType: 2 //1 科任组长,2 年级领导,3 班主任,4 任课教师,5 其他教师
					}
					getPrivilegeByRolePro(tempData, function(data) {
						$.hideLoading();
						requestFlag--;
						if(data.RspCode == 0) {
							PrivilegeStr = PrivilegeStr + parseInt(data.RspData.PrivilegeStr);
							//等权限的协议都返回值后，获取部门
							if(requestFlag == 0) {
								getSchDepart();
							}
						} else {
							$.toast(data.RspTxt, "cancel");
						}
					});
				}
				//判断是否是班主任或任课老师
				if(personal.clss.length > 0) {
					requestFlag++;
					tempFlag++;
					var b = 0;
					$.showLoading();
					//24.获取角色对应的菜单权限
					var tempData = {
						schoolId: personal.schid, //学校ID
						system: systemFlag, //1 通知公告,2 事务及文件
						roleType: 4 //1 科任组长,2 年级领导,3 班主任,4 任课教师,5 其他教师
					}
					getPrivilegeByRolePro(tempData, function(data) {
						$.hideLoading();
						requestFlag--;
						if(data.RspCode == 0) {
							PrivilegeStr = PrivilegeStr + parseInt(data.RspData.PrivilegeStr);
							//等权限的协议都返回值后，获取部门
							if(requestFlag == 0) {
								getSchDepart();
							}
						} else {
							$.toast(data.RspTxt, "cancel");
						}
					});
					for(var i = 0; i < personal.clss.length; i++) {
						var tempModel = personal.clss[i];
						//判断是不是班主任，0非1是
						if(tempModel.isms == 1 && b == 0) {
							b = 1;
							requestFlag++;
							//24.获取角色对应的菜单权限
							var tempData = {
								schoolId: personal.schid, //学校ID
								system: systemFlag, //1 通知公告,2 事务及文件
								roleType: 3 //1 科任组长,2 年级领导,3 班主任,4 任课教师,5 其他教师
							}
							getPrivilegeByRolePro(tempData, function(data) {
								requestFlag--;
								if(data.RspCode == 0) {
									PrivilegeStr = PrivilegeStr + parseInt(data.RspData.PrivilegeStr);
									//等权限的协议都返回值后，获取部门
									if(requestFlag == 0) {
										getSchDepart();
									}
								} else {
									$.toast(data.RspTxt, "cancel");
								}
							});
						}
					}
				}
				//判断是否是科任组长
				if(personal.subs.length > 0) {
					requestFlag++;
					tempFlag++;
					$.showLoading();
					//24.获取角色对应的菜单权限
					var tempData = {
						schoolId: personal.schid, //学校ID
						system: systemFlag, //1 通知公告,2 事务及文件
						roleType: 1 //1 科任组长,2 年级领导,3 班主任,4 任课教师,5 其他教师
					}
					getPrivilegeByRolePro(tempData, function(data) {
						$.hideLoading();
						requestFlag--;
						if(data.RspCode == 0) {
							PrivilegeStr = PrivilegeStr + parseInt(data.RspData.PrivilegeStr);
							//等权限的协议都返回值后，获取部门
							if(requestFlag == 0) {
								getSchDepart();
							}
						} else {
							$.toast(data.RspTxt, "cancel");
						}
					});
				}
				if(tempFlag == 0) {
					//判断个人信息的urolestr参数，第6位
					var tempStr = personal.urolestr.substr(5, 1);
					if(tempStr == 1) {
						getSchDepart();
					}
				}
			}

			//点击人员时，判断部门是否应该选中状态
			var judgeDepartmentSelect = function() {
				for(var i = 0; i < selectPeopleData.departmentArray.length; i++) { //循环部门
					var tempModel = selectPeopleData.departmentArray[i]; //部门
					var tempFlag = 0; //判断选择的人员，和数组总数，是否一致
					for(var a = 0; a < tempModel.peopleArray.length; a++) { //循环部门里的人员
						var tempPeople = tempModel.peopleArray[a]; //单独人员
						if(tempPeople.flag == true) { //如果是选择，加入选择的数组中
							tempFlag++;
							if(tempFlag == tempModel.peopleArray.length) {
								tempModel.departFlag = true;
							}
						} else { //未选择
							tempModel.departFlag = false;
							break;
						}
					}
				}
			}

			//点击部门选择按钮时，遍历所有部门，改变人员的选择,flag=1点击选中部门，flag=2取消选中部门，循环单个人
			var changePeoPleDepartmentSelect = function(model, index, flag) {
				//遍历全部数据，将utid一样的，都变化
				for(var i = 0; i < selectPeopleData.departmentArray.length; i++) { //循环部门
					var tempModel = selectPeopleData.departmentArray[i]; //部门
					for(var a = 0; a < tempModel.peopleArray.length; a++) { //循环部门里的人员
						var tempPeople = tempModel.peopleArray[a]; //单独人员
						if(model.utid == tempPeople.utid) { //判断选择的人员id，是否和当前的一致
							if(flag == 1) { //如果是选择，加入选择的数组中
								tempPeople.flag = true;
								selectPeopleData.selectPeopleArray.push(model);
							} else { //未选择
								tempPeople.flag = false;
								for(var b = 0; b < selectPeopleData.selectPeopleArray.length; b++) { //循环选择人员数组
									var tempSelectPeople = selectPeopleData.selectPeopleArray[b];
									if(tempSelectPeople.utid == model.utid) { //如果取消选择人员id一致，移除
										selectPeopleData.selectPeopleArray.splice(b, 1);
									}
								}
							}
						}
					}
				}
			}

			//点击部门，包括点击是否选择部门----flag=0点击部门，flag=1点击选中部门，flag=2取消选中部门
			var clickDepartmentSelect = function(model, index, flag) {
				console.log('tempFlag111:' + JSON.stringify(model));
				//点击获取部门用户
				if(model.dptname && model.peopleArray.length == 0) {
					var enData0 = {};
					//不需要加密的数据
					var comData0 = {
						uuid: publicParameter.uuid, //用户设备号
						utoken: personal.utoken, //用户令牌
						dptids: model.dptid, //需要查询的部门ID，多个代码用英文逗号隔开
						uidstat: 1, //需要查询的用户类型,-1全部,0无账号,1有账号
						appid: publicParameter.appid //系统所分配的应用ID
					}
					$.showLoading();
					//发送网络请求，data为网络返回值
					postDataEncry('DepartUser', enData0, comData0, 0, function(data) {
						$.hideLoading();
						if(data.RspCode == 0) {
							if(data.RspData) {
								//默认不选中
								for(var i = 0; i < data.RspData.users.length; i++) {
									var tempModel = data.RspData.users[i];
									if(flag == 0) { //光点击部门
										var tempA = 0;
										//判断当前的utid是否已经选择
										for(var b = 0; b < selectPeopleData.selectPeopleArray.length; b++) {
											var tempSelectPeople = selectPeopleData.selectPeopleArray[b];
											if(tempSelectPeople.utid == tempModel.utid) {
												tempA++;
											}
										}
										if(tempA == 0) {
											tempModel.flag = false;
										} else {
											tempModel.flag = true;
											selectPeopleData.selectPeopleArray.push(tempModel);
										}
									} else if(flag == 1) { //点击选择部门
										tempModel.flag = true;
										selectPeopleData.selectPeopleArray.push(tempModel);
										//将别的部门，对应id的人，状态改为已选中
										changePeoPleDepartmentSelect(tempModel, index, 1);
									}
								}
								model.peopleArray = [].concat(data.RspData.users);
								if(selectPeopleData.selectPeopleArray.length > 0) {
									//去重
									selectPeopleData.selectPeopleArray = selectPeopleData.selectPeopleArray.unique('utid');
								}
								//点击人员时，判断部门是否应该选中状态
								judgeDepartmentSelect();
							}
						} else {
							$.toast(data.RspTxt, "cancel");
						}
					});
				} else if(model.clsname && model.peopleArray.length == 0) {
					var enData0 = {};
					//不需要加密的数据
					var comData0 = {
						uuid: publicParameter.uuid, //用户设备号
						utoken: personal.utoken, //用户令牌
						classids: model.clsid, //需要查询的班级ID,多个代码用英文逗号隔开
						appid: publicParameter.appid //系统所分配的应用ID
					}
					$.showLoading();
					//发送网络请求，data为网络返回值
					postDataEncry('ClassTec', enData0, comData0, 0, function(data) {
						$.hideLoading();
						if(data.RspCode == 0) {
							if(data.RspData) {
								//去重
								data.RspData.clssusers = data.RspData.clssusers.unique('utid');
								//默认不选中
								for(var i = 0; i < data.RspData.clssusers.length; i++) {
									var tempModel = data.RspData.clssusers[i];
									if(flag == 0) { //光点击部门
										var tempA = 0;
										//判断当前的utid是否已经选择
										for(var b = 0; b < selectPeopleData.selectPeopleArray.length; b++) {
											var tempSelectPeople = selectPeopleData.selectPeopleArray[b];
											if(tempSelectPeople.utid == tempModel.utid) {
												tempA++;
											}
										}
										if(tempA == 0) {
											tempModel.flag = false;
										} else {
											tempModel.flag = true;
											selectPeopleData.selectPeopleArray.push(tempModel);
										}
									} else if(flag == 1) { //点击选择部门
										tempModel.flag = true;
										selectPeopleData.selectPeopleArray.push(tempModel);
										//将别的部门，对应id的人，状态改为已选中
										changePeoPleDepartmentSelect(tempModel, index, 1);
									}
								}
								model.peopleArray = [].concat(data.RspData.clssusers);
								if(selectPeopleData.selectPeopleArray.length > 0) {
									//去重
									selectPeopleData.selectPeopleArray = selectPeopleData.selectPeopleArray.unique('utid');
								}
								//点击人员时，判断部门是否应该选中状态
								judgeDepartmentSelect();
							}
						} else {
							$.toast(data.RspTxt, "cancel");
						}
					});
				} else { //部门里有人，直接改人和部门的选中状态
					if(flag == 1 || flag == 2) {
						for(var a = 0; a < model.peopleArray.length; a++) { //循环部门里的人员
							var tempPeople = model.peopleArray[a]; //单独人员
							if(model.departFlag == true) { //如果是选择，加入选择的数组中
								tempPeople.flag = true;
								changePeoPleDepartmentSelect(tempPeople, index, flag);
							} else { //未选择
								tempPeople.flag = false;
								changePeoPleDepartmentSelect(tempPeople, index, flag);
							}
						}
						if(selectPeopleData.selectPeopleArray.length > 0) {
							//去重
							selectPeopleData.selectPeopleArray = selectPeopleData.selectPeopleArray.unique('utid');
						}
						//点击人员时，判断部门是否应该选中状态
						judgeDepartmentSelect();
					}
				}
			}

			//获取学校部门
			var getSchDepart = function() {
				var enData0 = {};
				//不需要加密的数据
				var comData0 = {
					uuid: publicParameter.uuid, //用户设备号
					utoken: personal.utoken, //用户令牌
					appid: publicParameter.appid //系统所分配的应用ID
				}
				$.showLoading();
				//发送网络请求，data为网络返回值
				postDataEncry('SchDepart', enData0, comData0, 0, function(data) {
					$.hideLoading();
					selectPeopleData.departmentArray = [];
					if(data.RspCode == 0) {
						//将个人信息中的部门列表，根据此协议，添加成完整的model
						setArray0(data.RspData.dpts);
						//判断权限
						if(PrivilegeStr > 999) { //第一位：新建可选本部门及下级部门教师
							setArray1(data.RspData.dpts);
						}
						var tempFlag3 = PrivilegeStr.toString().substring(1);
						if(tempFlag3 > 99) { //第二位：新建可选任教年级教师
							//8.年级下班级
							getGradeClass();
						}
						var tempFlag2 = PrivilegeStr.toString().substring(2);
						//判断个人信息的urolestr参数，第6位，可选上级部门人员
						var tempStr = personal.urolestr.substr(5, 1);
						console.log('tempStr:' + tempStr);
						if(tempFlag2 > 9 || tempStr == 1) { //第三位：新建可选上级部门教师
							setArray3(data.RspData.dpts);
						}
						var tempFlag1 = PrivilegeStr.toString().substring(3);
						var tempStr1 = personal.urolestr.substr(6, 1);
						if(tempFlag1 > 0 || tempStr1 == 1) { //第四位：新建可选全校教师
							for(var i = 0; i < data.RspData.dpts.length; i++) {
								var tempModel = data.RspData.dpts[i];
								tempModel.departFlag = 0; //部门是否选中
								tempModel.peopleArray = [];
							}
							selectPeopleData.flag = 1;
							selectPeopleData.departmentArray = selectPeopleData.departmentArray.concat(data.RspData.dpts);
						}
						if(selectPeopleData.departmentArray.length > 0) {
							//给数组去重
							selectPeopleData.departmentArray = selectPeopleData.departmentArray.unique('dptid');
						}
					} else {
						$.toast(data.RspTxt, "cancel");
					}
				});
			}

			//将个人信息中的部门列表，根据此协议，添加成完整的model
			var setArray0 = function(array) {
				//循环替换
				for(var i = 0; i < array.length; i++) {
					var tempModel = array[i];
					for(var a = 0; a < personal.dpts.length; a++) {
						var tempModel1 = personal.dpts[a];
						tempModel1.departFlag = 0; //部门是否选中
						if(tempModel.dptid == tempModel1.dptid) {
							tempModel1.pid = tempModel.pid;
							tempModel1.orderid = tempModel.orderid;
							tempModel1.peopleArray = []; //嵌套的人员数组
						}
					}
				}
			}

			//将本部门和下级部门，塞入数组
			var setArray1 = function(array) {
				//将本部门的塞入
				selectPeopleData.departmentArray = selectPeopleData.departmentArray.concat(personal.dpts);
				selectPeopleData.flag = 1;
				//循环塞入下级部门
				setSubordinateDepart(array, selectPeopleData.departmentArray);
			}

			//循环塞入下级部门
			var setSubordinateDepart = function(array, tempArray) {
				var tempDepartArray = [];
				//循环现在存入的部门
				for(var i = 0; i < tempArray.length; i++) {
					var nowModel = tempArray[i];
					for(var a = 0; a < array.length; a++) {
						var sumModel = array[a];
						sumModel.peopleArray = [];
						sumModel.departFlag = 0; //部门是否选中
						//判断存入部门的id，是否和全部部门的上级id一致
						if(sumModel.pid == nowModel.dptid) {
							tempDepartArray.push(sumModel);
						}
					}
				}
				if(tempDepartArray.length > 0) {
					selectPeopleData.departmentArray = selectPeopleData.departmentArray.concat(tempDepartArray);
					setSubordinateDepart(array, tempDepartArray);
				}
			}

			//将上级部门，塞入数组
			var setArray3 = function(array) {
				//循环得到的数组
				for(var i = 0; i < array.length; i++) {
					var tempModel = array[i];
					tempModel.peopleArray = [];
					for(var a = 0; a < personal.dpts.length; a++) {
						var tempModel1 = personal.dpts[a];
						tempModel1.departFlag = 0; //部门是否选中
						if(tempModel.dptid == tempModel1.pid) {
							selectPeopleData.departmentArray.push(tempModel);
							selectPeopleData.flag = 1;
						}
					}
				}
				//再获取上级部门的下级全部部门
				setSubordinateDepart(array, selectPeopleData.departmentArray);
			}

			//8.年级下班级
			var getGradeClass = function() {
				if(personal.grds.length > 0 || personal.clss.length > 0) {
					var tempGradeId = ''; //需要查询的年级ID
					if(personal.grds.length > 0) {
						//个人信息中的年级列表
						var tempClass = [].concat(personal.grds);
						//去重
						tempClass = tempClass.unique('grdid');
						console.log('tempClass:' + JSON.stringify(tempClass));
						for(var i = 0; i < tempClass.length; i++) {
							var tempModel = tempClass[i];
							tempGradeId = tempGradeId + ',' + tempModel.grdid;
						}
					}
					//如果班级中有人，也获取
					if(personal.clss.length > 0) {
						//个人信息中的班级列表
						var tempClass1 = [].concat(personal.clss);
						//去重
						tempClass1 = tempClass1.unique('grdid');
						console.log('tempClass1:' + JSON.stringify(tempClass1));
						for(var i = 0; i < tempClass1.length; i++) {
							var tempModel = tempClass1[i];
							tempGradeId = tempGradeId + ',' + tempModel.grdid;
						}
					}
					//去掉第一个，
					tempGradeId = tempGradeId.substr(1, tempGradeId.length);
					if(tempGradeId.length == 0) {
						return;
					}
					var enData0 = {};
					//不需要加密的数据
					var comData0 = {
						uuid: publicParameter.uuid, //用户设备号
						utoken: personal.utoken, //用户令牌
						gradeids: tempGradeId, //需要查询的年级ID，多个代码用英文逗号隔开
						appid: publicParameter.appid //系统所分配的应用ID
					}
					$.showLoading();
					//发送网络请求，data为网络返回值
					postDataEncry('GradeClass', enData0, comData0, 0, function(data) {
						$.hideLoading();
						if(data.RspCode == 0) {
							if(data.RspData) {
								var tempClassId = ''; //需要查询的年级ID
								for(var i = 0; i < data.RspData.clss.length; i++) {
									var tempModel = data.RspData.clss[i];
									tempClassId = tempClassId + ',' + tempModel.clsid;
								}
								//去掉第一个，
								tempClassId = tempClassId.substr(1, tempClassId.length);
								var tempClassModel = {
									clsname: '任教年级教师',
									clsid: tempClassId,
									departFlag: 0, //部门是否选中
									peopleArray: []
								}
								selectPeopleData.departmentArray.unshift(tempClassModel);
								selectPeopleData.flag = 1;
							}
						} else {
							$.toast(data.RspTxt, "cancel");
						}
					});
				}
			}

			//给数组去重
			Array.prototype.unique = function(key) {
				var arr = this;
				var n = [arr[0]];
				for(var i = 1; i < arr.length; i++) {
					if(key === undefined) {
						if(n.indexOf(arr[i]) == -1) n.push(arr[i]);
					} else {
						inner: {
							var has = false;
							for(var j = 0; j < n.length; j++) {
								if(arr[i][key] == n[j][key]) {
									has = true;
									break inner;
								}
							}
						}
						if(!has) {
							n.push(arr[i]);
						}
					}
				}
				console.log('n:' + n);
				return n;
			}
		</script>
	</body>

</html>